@import url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Mono", monospace !important;
}
